/*basic.css*/

@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");


@font-face {
	font-family: 'Binggrae-Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
body,p,div,span,ul,li,ol,table,th,td,input,textarea,button,a{
	font-family:'Binggrae-Bold';
	color:#444;
}
.table {
	border: 1px solid black;
	border-collapse: collapse;
}

.table th .table td {
	border: 1px solid black;
	padding: 4px;
}

.table th {
	background-color: #eee;
}

.box {
	border: 1px solid black;
}

.box.big {
	width: 300px;
	height: 300px;
}

.box.medium {
	width: 200px;
	height: 200px;
}

.box.small {
	width: 100px;
	height: 100px;
}

.box.red {
	background-color: tomato;
}

.box.blue {
	background-color: cornflowerblue;
}

.box.yellow {
	background-color: #FFF766;
}

.box.green {
	background-color: lightgreen;
}

.box.orange {
	background-color: #E5CE61;
}